

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        .row{
            margin: 23px;
            padding: 12px;
            justify-content:center;
        }
        .col-md-4{
        box-shadow: inset rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
        border-radius: 24px;
        margin: 20px;
        padding:15px;
        padding:15px;
        }
        .h2{
            font-weight:bolder;
            font-size:50px;
            place-items:center;

        }
    </style>
</head>
<body>
<h2 class="h2 text-center">Learning </h2>
<div class="row">
    <div class="col-md-4 col-xs-12">
        
            
            <h3><b>Introduction</b></h3>
            <p>
            <ol>
               <li><strong>Welcome Message:</strong>   Provide a friendly introduction to the training page, emphasizing its importance and how it will help users manage their accounts and use the UMS effectively.</li>
                <li> <strong> Introduction</strong>A User Management System (UMS) is essential for managing user-related tasks such as authentication, authorization, and profile management within an application</li>
             </ol>
            </p>
        
    </div>
    <div class="col-md-4 col-xs-12">
        
            <h3><b>Key Features</b></h3>
            <p>
                <ul>
                    <li>User Registration and Profile Management</li>
                    <li>Authentication and Authorization</li>
                    <li>Role-Based Access Control</li>
                    <li>Account Recovery and Password Management</li>
                    <li>User Activity Monitoring</li>
                </ul>
                
            </p>
      
    </div>
    <div class="col-md-4 col-xs-12">
        
            <h3><b>Typical Functionalities</b></h3>
            <p>
                <ol>
                    <li><strong>Registration:</strong> Allows users to create accounts.</li>
                    <li><strong>Login/Logout:</strong> Authenticates users and manages sessions.</li>
                    <li><strong>Profile Editing:</strong> Lets users update their personal information.</li>
                    <li><strong>Role Assignment:</strong> Manages user roles and permissions.</li>
                    <li><strong>Activity Logs:</strong> Tracks user activities and system access.</li>
                </ol>
                
            </p>
       
    </div>

    <div class="col-md-4 col-xs-12">
        
            <h3><b>Security Design</b></h3>
            <p>
                <ol>
                    <li><strong>Least Privilege:</strong>  Apply the principle of least privilege to ensure users have only the necessary permissions for their tasks.</li>
                    <li><strong>Single Sign-On (SSO): </strong> Implement SSO solutions to simplify authentication and enhance security across integrated systems. </li>
                    <li><strong>APIs:</strong> Secure APIs used for user management with appropriate authentication and authorization mechanisms.</li>
                   

                </ol>

            </p>
    </div>
    <div class="col-md-4 col-xs-12">
        
            <h3><b>Error reduction</b></h3>
            <p>It eliminates manual operations, and the margin of error is considerably reduced. When adding a user to the system and providing access to programs, there’s less of a possibility of making a mistake.</p>
        
    </div>
    <div class="col-md-4 col-xs-12">
        
            <h3><b>Improved Security</b></h3>
            <p>Furthermore, automating reduces the risk of security threats, network or data breaches because access to these cloud applications is only granted through the roles and permissions established by the business.</p>
        
    </div>
</div>
</body>
</html>